In [1]:
file_path= "s3://ds-mlops-s3/data/input/inputdata.csv"

In [7]:
import pandas as pd
#start = time.time()
#read data in chunks of 1 million rows at a time
iter_csv = pd.read_csv(file_path,iterator=True,chunksize=10000)
df2 = pd.concat([chunk[chunk['VIN'].str.slice(start=-1)=="2"] for chunk in iter_csv])
print(df2.shape)
iter_csv = pd.read_csv(file_path,iterator=True,chunksize=10000)
df3 = pd.concat([chunk[chunk['VIN'].str.slice(start=-1)=="3"] for chunk in iter_csv])
print(df3.shape)
iter_csv = pd.read_csv(file_path,iterator=True,chunksize=10000)
df4 = pd.concat([chunk[chunk['VIN'].str.slice(start=-1)=="4"] for chunk in iter_csv])
print(df4.shape)
iter_csv = pd.read_csv(file_path,iterator=True,chunksize=10000)
df5 = pd.concat([chunk[chunk['VIN'].str.slice(start=-1)=="5"] for chunk in iter_csv])
print(df5.shape)
frames=[df2,df3,df4,df5]
final_df=pd.concat(frames)
print(final_df.shape)

(26501, 26)
(26280, 26)
(26725, 26)
(27197, 26)
(106703, 26)

In [8]:
final_df.drop(columns='Unnamed: 0',inplace=True)

In [9]:
final_df.to_csv("vehicle_Vin_2_5.csv")

In [10]:
final_df['price']=final_df['price'].astype('float')

In [11]:
final_df.to_csv("vehicle_Vin_2_5.csv")

In [2]:
!aws s3 cp ./vehicle_Vin_2_5.csv s3://ds-mlops-s3/scenario/vehicles_2_5.csv # This is SCENARIO 1

upload: ./vehicle_Vin_2_5.csv to s3://ds-mlops-s3/scenario/vehicles_2_5.csv

In [13]:
import pandas as pd
#start = time.time()
#read data in chunks of 1 million rows at a time
#iter_csv = pd.read_csv('s3://wi-cred-datalake-dev-raw/data/input/offlease/vehicles.csv',iterator=True,chunksize=10000)

iter_csv = pd.read_csv(file_path,iterator=True,chunksize=10000)
df6 = pd.concat([chunk[chunk['VIN'].str.slice(start=-1)=="6"] for chunk in iter_csv])
print(df6.shape)

(26829, 26)

In [14]:
df6.drop(columns='Unnamed: 0',inplace=True)

In [15]:
df_2_5_6=pd.concat([final_df,df6])

In [16]:
df_2_5_6.to_csv('vehicle_Vin_2_5_6.csv')

In [3]:
!aws s3 cp ./vehicle_Vin_2_5_6.csv s3://ds-mlops-s3/scenario/vehicles_2_5_6.csv # This is SCENARIO 2

upload: ./vehicle_Vin_2_5_6.csv to s3://ds-mlops-s3/scenario/vehicles_2_5_6.csv